* {
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}




/*-------------- navbar --------------*/

.navbar,
.navbar ul.dropdown-menu {
    margin-bottom: 0;
    background-color: #294444;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 20px !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0;
}

.nav-link {
    padding: 1rem !important;
}

.navbar .navbar-brand,
.navbar li a {
    color: #fff !important;
}

.navbar a.dropdown-item {
    padding: 1rem;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #305252 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*--------------- navbar end ---------------*/





/* footer */

footer {
    background-color: #263f3f;
    color: white;
    letter-spacing: 4px;
}



/* main heading */

h1.heading {
    background-color: #495057;
    background: url("../img/contact-us/form.jpg") 50%;
    height: 40vh;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-transform: uppercase;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem !important;
}





/* green buttons */

.btn-green {
    background-color: #305252 !important;
    color: white;
}
.btn-green:hover {
    color: white;
}




/* contact details */

.contact-details i.material-icons {
    font-size: 36px;
    color: #274242;
}

.contact-details hr {
    margin: 1rem auto;
}




/* social media buttons */

.social-media i {
    font-size: 25px;
}

.social-media button {
    width: 40%;
}

.social-media li {
    padding: 5px;
}
.social-media a,
.social-media a:focus,
.social-media a:hover {
    text-decoration: none;
    color: black;
    font-size: 17px;
}




/* form */

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
    height: 3.125rem;
    padding: 0.75rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}
.form-label-group input:not(:-moz-placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}
.form-label-group input:not(:-ms-input-placeholder) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}
.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}
.form-label-group input:not(:-moz-placeholder-shown)~label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}
.form-label-group input:not(:-ms-input-placeholder)~label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge */
@supports (-ms-ime-align: auto) {
    .form-label-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .form-label-group label {
        position: static;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

textarea#inputMessage {
    height: 120px;
}

.social-media li {
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    .social-media li {
        width: 20%;
    }
    .gmap iframe {
        height: 100% !important;
        width: 100% !important;
    }
}

@media (min-width: 576px) {
    .gmap iframe {
        height: 100% !important;
        width: 100% !important;
    }
    .social-media li {
        margin: auto !important;
        width: 20%;
    }
}
